BOT_TOKEN=
ADMIN_ID=6435057666
BOT_USERNAME=Post_button_online_bot
SUPPORT_USERNAME=Tnatc

PREMIUM_MONTH_PRICE_USD=1
MIN_TOPUP_USD=2

BEP20_WALLET=0x35e9d847e6101b270d9ede4322ca3a8785fb0c46
TRC20_WALLET=TDck3csaeHNcSq16Dgo4aeij2m7mfwJW2o

# Enter NEW API keys locally. Do not publish them.
ETHERSCAN_API_KEY=
TRONGRID_API_KEY=

# Mainnet USDT contracts
BEP20_USDT_CONTRACT=0x55d398326f99059fF775485246999027B3197955
TRC20_USDT_CONTRACT=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t

DATABASE_PATH=data/post_button.sqlite3
